<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información sobre Jovenes Universitarios con Estres</title>
    <link rel="stylesheet" href="menu.component.css">
</head>
<body>
    <!--
    <header>
        <nav>
            <ul>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <li><a href="" [routerLink]="['/menu']">MindfulU</a></li>
                <li><a href="#" [routerLink]="['/users']">Lista usuarios</a></li>
            </ul>
        </nav>
    </header>
-->
    <section class="mission-vision">
        <div class="card">
            <img src="https://www.ednavigator.org/assets/resource-images/_850x566_crop_center-center_82_line_ns/College_Student_Library_Web.jpg.webp" alt="Ilustración misión">
          <h2>Nuestra Misión</h2>
          <p>
            Nuestra misión es brindar un apoyo accesible y eficaz a los estudiantes universitarios para mejorar su bienestar emocional y, en consecuencia, su rendimiento académico. Queremos que Mindful U se convierta en el recurso de referencia para que los estudiantes puedan gestionar sus emociones y superar el estrés de una manera consciente y práctica.
          </p>
        </div>
        <div class="card">
          <img src="https://img.freepik.com/vector-premium/grupo-profesionales-reunion-negocios_9975-81064.jpg?w=826" alt="Ilustración visión">
          <h2>Nuestra Visión</h2>
          <p>
            Visualizamos un futuro en el que la salud mental sea una prioridad en cada universidad de Perú, donde cada estudiante tenga las herramientas necesarias para enfrentar los desafíos académicos y personales de manera saludable. Aspiramos a que Mindful U sea el puente entre el estudiante y un bienestar integral.
          </p>
        </div>
      </section>
    
      <section class="values">
        <h2>Nuestros Valores</h2>
        <div class="values-grid">
          <div class="value">
            <h3>Compromiso</h3>
            <p>Estamos comprometidos con el bienestar emocional de nuestros usuarios.</p>
          </div>
          <div class="value">
            <h3>Innovación</h3>
            <p>Apostamos por el uso de tecnología de vanguardia para ofrecer recursos intuitivos y accesibles.</p>
          </div>
          <div class="value">
            <h3>Confidencialidad</h3>
            <p>Valoramos y protegemos la privacidad de nuestros usuarios, creando un espacio seguro para su crecimiento personal.</p>
          </div>
          <div class="value">
            <h3>Resiliencia</h3>
            <p>Creemos en la capacidad de cada estudiante de superar sus desafíos, y estamos aquí para ayudarlos en ese proceso.</p>
          </div>
        </div>
      </section>
      <section class="resources">
        <h2>Recursos</h2>
        <div class="resources-videos">
            <h3>Videos Informativos</h3>
            <div class="video-item">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/_9Fp4G6_fB8?si=GbcbucGeXHHr_9SS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Como afecta el estres.</p>
            </div>
            <div class="video-item">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/wifsNMDztJg?si=Zw8TeoCrHHwAkKtd" allowfullscreen></iframe>
                <p>Estres y Ansiedad: ¿Que podemos hacer? .</p>
            </div>
        </div>
    </section>
    
</body>
</html>
